img#header-img {
    width: 150px;
}
.flex-container{
    display: flex;
    justify-content: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}

 .nav-link {
     padding: 10px;
     margin: 10px;
 }

 .container {
     max-width: 1000px;
     width: 100%;
     margin: 0 auto;
 }

 .btn {
     padding: 0 20px;
     height: 40px;
     font-size: 1em;
     font-weight: 900;
     text-transform: uppercase;
     border: 3px black solid ;
     border-radius: 2px;
     background: transparent;
     cursor: pointer;
 }

 .grid {
     display: flex;
 }

 #features {
     margin-top: 30px;
 }

 #features .icon {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 125px;
     width: 20vw;
     color: rgb(206, 36, 36);
 }

 #features .desc{
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 125px;
     width: 80vw;
     padding: 5px;
 } 

 #pricing {
     margin-top: 60px;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .product {
     display: flex;
     flex-direction: row;
     border: 1px solid black;
     border-radius: 2px;
     align-items: center;
     text-align: center;
     margin: 10px;
     width: 30%;
 }

 .product > .level {
     background-color:#ddd ;
     color: black;
     padding: 15px 0;
     width: 100%;
     text-transform: uppercase;
     font-weight: 700;
 }

 .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }

  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  